.bg-gradient-primary {
    background: #f4f4f5 !important;
    background-size: cover;
}
 .form-group {
	 position: relative;
}
 .form-group + .form-group {
	 margin-top: 30px;
}
 .form-label {
	 position: absolute;
	 left: 0;
	 top: 4px;
	 color: #999;
	 background-color: #fff;
	 z-index: 10;
	 transition: transform 150ms ease-out, font-size 150ms ease-out;
}
 .focused .form-label {
	 transform: translateY(-125%);
	 font-size: 0.75em;
	 color:#41CE4E;
}
 .form-input {
	 position: relative;
	 padding: 12px 0px 5px 0;
	 width: 100%;
	 outline: 0;
	 border: 0;
	 border-radius: 0 !important;
	 box-shadow: 0 1px 0 0 #e5e5e5;
	     background-clip: border-box!important;
	 transition: box-shadow 150ms ease-out;
}
.form-input:focus {
	 box-shadow: 0 2px 0 0 #41CE4E;
}
 .form-input.filled {
	 box-shadow: 0 2px 0 0 #41CE4E;
	background-color: #fff;
}

 .form-label-select {
	 position: absolute;
	 left: 0;
	 bottom:22px;
	 color: #999;
	 background-color: #fff;
	 z-index: 10;
	 transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.form-select {
	 position: relative;
	 padding: 12px 0px 5px 0;
	 width: 100%;
	 outline: 0;
	 border: 0;

	 border-radius: 0 !important;
	 box-shadow: 0 1px 0 0 #e5e5e5;
	     background-clip: border-box!important;
	 transition: box-shadow 150ms ease-out;
}
.form-select:focus {
	 box-shadow: 0 2px 0 0 #41CE4E;
}
 .form-select.filled {
	 box-shadow: 0 2px 0 0 #41CE4E;
	background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #fff !important;
}

/* forgot password */
 .field-icon {
  float: right;
  margin-right: -10px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}



input[type=text] {
    text-transform: capitalize;
}